@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #06246C;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nautigal-bold {
  font-family: 'The Nautigal', cursive;
  font-weight: 800;
}
.nautigal {
  font-family: 'The Nautigal', cursive;
}